<h2>Please Log In</h2>
<form class="" action="/login" method="post">
  <input type="text" name="email" placeholder="email">
  <input type="text" name="password" placeholder="password">
  <button>Log in</button>
</form>
