<nav>
  <ul>
    <li><a href="/">hungry korilla</a></li>
    <li><a href="/register">ALL RESTAURANTS</a></li>
    <li><a href="/everyone">SIGN UP</a></li>
    <li><a href="/login">LOG IN</a></li>
    <li><a href="/logout">LOG OUT</a></li>
  </ul>
</nav>
