<nav>
  <ul>
    <li><a href="/">hungry korilla</a></li>
    <li><a href="/">CITY</a></li>

  <% if(locals.isLoggedIn) { %>
      <li><a href="/restaurants/new">ADD REVIEW</a></li>
      <li><a href="/logout">LOG OUT</a></li>
  <% } else { %>
      <li><a href="/login">LOG IN</a></li>
      <li><a href="/register">SIGN UP</a></li>
  <% } %>
  </ul>
</nav>
