<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>hungry korilla</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <% include ./partials/header %>
    <div>
      <%- body %>
    </div>
    <% include ./partials/footer %>
  </body>
</html>
