* {
  /* background-color: inherit; */
  font-family: 'Montserrat', sans-serif;
}

.gr__localhost{
  background-color: inherit;
}

body {
  margin: 0;
  background-color: white;
}

/* ***********NAV BAR*********** */

.navbar-menu li a {
  color: black;
  font-weight: 700;
  padding-left: 20px;
  text-align: center;
}
.brand-logo {
  width: 35px;
  height: 100%;
  margin: 0.5rem;
}

#logo-word {
  font-weight: 900;
  font-size: 25px;
  letter-spacing: -1px;
}


/* ***********INDEX PAGE*********** */

.restaurant-list{
  margin-bottom: 4rem;
}

.restaurant-list h1{
  font-weight: 700;
}

.restaurant-list h4{
  font-size: 14px;
  padding-bottom: 2rem;
}

.restaurant-name {
  font-weight: 700;
  font-size: 40px;
  padding-top: 10px;
  padding-bottom: 10px;
}



/* ***********ADD Review PAGE*********** */

#restaurant-info-box div{
  width: 400px;
  display: inline-block;
}

#restaurant-review-box {
  /* border: 1px solid #f5f5f5; */
  background-color: #f5f5f5;

}
#comment-input-box {
  width: 400px;
  display: inline-block;
}
#rating-input-box {
  width: 400px;
  display: inline-block;
}

#submit-btn {
  display: inline-block;
}

/* ***********Home PAGE*********** */

.main {
  height: 100%;
  min-height: 550px;
  text-align: center;
  padding-top: 60px;
}

.main h1 {
  font-size: 30px;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.main h2 {
  font-size: 25px;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.welcome-message {
  font-size: 20px;
  margin: 1.5rem 0;
}

.message-to-login {
  width: 100vw;
  height: 35px;
  line-height: 35px;
  text-align: center;
  color: #ff2a2a;
  background-color: #f5f5f5;
}

#city-btn {
  text-align: center;
}

.add-review-form {
  display: inline-block;
  width: 300px;
}

/* ***********SHOW PAGE*********** */

.review-section {
  height: 100%;
  width: 60%;
  display: inline-block;
  border: 1.5px solid #f5f5f5;
  border-radius: 15px;
  margin-bottom: 1.5rem;
}

.review-section p {
  padding: 0.3rem;
  display: inline;

}
.rating-caption-box {
  width: 100%;
  height: 20px;
  border: 1px solid #ff2a2a;
  border-radius: 10px;
}

.review-username {
  font-weight: 700;
  font-size: 12px;
}

.image-container {
  display: initial;
}


/* ***********EDIT Review PAGE*********** */
.edit-form {
  display: inline-block;
  width: 300px;
}

.edit-form div {
  margin: 1rem 0;
}

#submit-cancel-btns {
  display: inline-flex;
}

/* ***********Register PAGE*********** */

.register-form {
  display: inline-block;
  width: 300px;
}

.register-form div input{
  margin-bottom: 10px;
}

/* ***********Login PAGE*********** */
.login-form {
  display: inline-block;
  width: 300px;
}

.login-form div input{
  margin-bottom: 10px;
}



/* ***********ABOUT PAGE*********** */

.about-text {
  padding-top: 2rem;
  width: 60%;
  display: inline-block;

}


.contact-text {
  padding: 1rem;
}

.restaurant-image {
  width: 300px;
}


.edit-delete-btns {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.edit-delete-btns div {
  margin: 0 0.5rem;
}
.edit-delete-btns #edit-btn-text{
  font-family: 'Montserrat', sans-serif;
}

.edit-delete-btns #delete-btn-text{
  color: #ff2a2a;
  font-family: 'Montserrat', sans-serif;
}

.add-review-btn {
  padding-top: 1rem;
}

#add-review-btn-text {
  font-weight: 700;
}
#add-review-btn-text:hover {
  color: white;
}



.control form{
  text-align: center;
}
.gorilla-image {
  width: 30px;
}

#city-input-box {
  width: 400px;
  margin: 10px;
}


.thumb-image {
  width: 100vw;
  height: 10rem;
  object-fit: cover;
}



/* ***********FOOTER*********** */

footer {
  text-align: center;
  height: 100%;
  margin-top: 4rem;
  background-color: #ff2a2a;
}

.footer-korilla {
  color: white;
  width: 20px;
  padding-top: 12px;

}

.footer-content {
  font-size: 12px;
  font-weight: 400;
  color: #4a4a4a;
  padding-top: 20px;
}

.freepik-line {
  font-size: 9px;
  opacity: 0.5;
  padding: 20px 0;
}
