<h1>Love Korean Food?</h1>

<div class="about-text">Good news! There are so many great restaurant all over the world.
Find the best Korean restaurants in your city and share your delicious experience.
<br>Now, let's ko!
</div>
