<h1>Find Restaurants</h1>
<div class="city-search">
  <h2>Enter City Here Below</h2>
  <form class="" action="/cities" method="post">
    <input type="text" name="city" placeholder="City Name">
    <button>Let's Go!</button>
  </form>
</div>
