<h2>Edit page</h2>
<form action="/restaurants/<%= _id %>?_method=PUT" method="post">
  <input type="text" name="name" value="<%= name %>">
  <input type="text" name="city" value="<%= city %>">
  <input type="text" name="image" value="<%= image %>">
  <button>Edit</button>
</form>
