<h2>Add Your Review</h2>
<form action="/restaurants" method="post">
  <input type="text" name="name" placeholder="Restaurant Name">
  <input type="text" name="city" placeholder="City Name">
  <input type="text" name="image" placeholder="Image url">
  <button>Add</button>
</form>
